body {
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    font-family: "Ubuntu", sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

ul > li {
    list-style-type: none;
}

.body {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 79px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

.logo:hover a {
    color: #3cb878;
    transition: 0.2s;
}

.header .verification {
    margin-right: 79px;
}

.verification {
    display: flex;
    justify-content: space-between;
}

.list-item {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding-left: 0;
}

.list-items {
    margin-right: 3px;
}

.list-items:hover a {
    color: #3cb878;
    transition: 0.2s;
}

.list-icons {
    margin-right: 26px;
}

.vertical-line-header {
    border-right: 1px solid;
    height: 21px;
    opacity: 0.5;
    position: relative;
    top: 2px;
}

.list-icons-link svg:hover > path {
    fill: #3cb878;
    transition: 0.2s;
}

.container {
    height: calc(100vh - 58px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    background: #ffffff;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    /* max-width: 444px; */
    position: relative;
}

.sign-up {
    font-size: 20px;
    color: #434343;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 14px;
    column-gap: 4px;
}

.form-wrapper {
    padding: 0 60px 0 60px;
}

.description {
    margin: 0;
    align-self: end;
    padding-top: 31px;
}

.log-in {
    font-size: 14px;
    color: #3cb878;
    justify-self: end;
    align-self: end;
}

.log-in:hover {
    color: #01813f;
    transition: 0.2s;
}

.facebook,
.google {
    height: 48px;
    cursor: pointer;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.facebook {
    background-color: #305db8;
    padding: 0 18px 0 17px;
}

.facebook-link {
    margin-left: 18px;
}

.facebook-link::before {
    content: "";
    border-left: 1px solid #0a162f;
    height: 28px;
    opacity: 0.1;
    padding-right: 18px;
}

.facebook:hover {
    background: #022263;
    transition: 0.2s;
}

.google {
    background-color: #df4a32;
    padding: 0 27px 0 7px;
}

.google-link {
    margin-left: 12px;
}

.google-link::before {
    content: "";
    border-left: 1px solid #2b0d09;
    height: 28px;
    opacity: 0.1;
    padding-right: 30px;
}

.google:hover {
    background: #ab1f09;
    transition: 0.2s;
}

.or {
    background-color: #fff;
    text-align: center;
    color: #848484;
    font-size: 14px;
    box-sizing: content-box;
    padding: 0 3px;
    position: absolute;
    top: -22px;
}

.or-and-line {
    margin-top: 31px;
    position: relative;
    display: flex;
    justify-content: center;
}

.or-and-line::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
    background-color: #f2f2f2;
    position: absolute;
    top: 50%;
}

.input {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
}

.input-items {
    height: 44px;
    border-radius: 4px;
    border: 1px solid #f2f2f2;
    outline: none;
}

.input-items:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border: 1px solid #f2f2f2;
}

.input-items:not(:last-of-type) {
    margin-bottom: 12px;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #bebebe;
}
:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #bebebe;
}
::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #bebebe;
}
:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #bebebe;
}

input {
    padding-left: 20px;
}

.checkbox {
    margin: 20px 0 12px 0;
}

.agree-link {
    color: #3cb878;
}

.agree-link:hover {
    color: #01813f;
    border-bottom: #01813f 1px solid;
    transition: 0.2s;
}

.create-account {
    background: rgba(60, 184, 120, 0.8);
    border: none;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 0;
    margin-bottom: 38px;
}

.create-account:hover {
    background: #01813f;
    transition: 0.2s;
}

.green-box {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    position: absolute;
    left: 0;
    top: 29px;
}
